services:
  fcgi:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - TZ=Europe/Moscow
    volumes:
      - ./sessions:/app/sessions
    networks:
      - backend

  httpd:
    image: "httpd:2.4"
    ports:
      - "1234:12"
    volumes:
      - "./httpd.conf:/usr/local/apache2/conf/httpd.conf"
      - "./static:/var/www"
    networks:
      - backend
    depends_on:
      - fcgi

networks:
  backend:
